body{
	margin:0px;
}

/* Body Header */
#body-header{
	height: 65vh;
	opacity: 1;
	background-image: url(https://images.pexels.com/photos/2473183/pexels-photo-2473183.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/* Horizontal Lists */

.bars{
    color: white;
    margin: 0;
    margin-right: 5%;
    display: none;
}

.bars i {
    font-size: 2rem;
}

.dropdown-list{
    margin: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 8px 1px #535547;
}

.dropdown-list ul{
    margin: 0.2rem 0.2rem;
    text-align: left;
    padding: 0px 0.8rem;
}

.dropdown-menu:hover .dropdown-list{
    display: block;
    position: absolute;
    right: 3%;
}

.dropdown-list li{
    margin: 0.4rem 0px;
}

.no-list-style{
    list-style: none;
}

.no-list-style li {
    font-weight: 100;
    font-size: 0.9rem;
}

.no-list-style li a{
    list-style: none;
    color: white;
    text-decoration: none;
}

.horizontal-list{
	list-style: none;
	padding-left: 0px;
}
.social-icons{
	list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.horizontal-list li{
	display: inline-block;
	margin: 0px 8px 8px 0px;
}

.horizontal-list li a{
	color: white;
	text-decoration: none;
	word-spacing: 10px;
}

.nav-menu li a{
	transition: color 0.3s, border-bottom 0.3s;
}

.nav-menu li a:hover{
	color: lightgrey;
	border-bottom: 1px solid lightgrey;

}
.text-center{
	text-align: center;
}

#my-name{
	margin-top: 25vh;
	color: white;
	font-family: georgia;
	letter-spacing: 2px;
}

#designation{
	color:lightgrey;
	font-family: Copperplate;
}

/*---Social Icons---*/

.social-icons li {
    border-radius: 50%;
}

/*.social-icons li:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}*/

.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
    border-radius: 50%;
    transform: scale(1.8);
}

.social-icons li a img {
    width: 1rem;
    padding: 8px;
}

.social-icons li a{
	margin: 10px;

}

section{
	display:flex;
	width:100%;
	flex-direction:column;
	align-items: center;
}
.section-heading span{
	display: inline-block;
	color:#0061ff;
	font-size: 40px;
	margin-right: 0.5rem;
	padding-top: 10px;
}
	/*	skills section 	*/

#skills{
	background-color: black;
	background-blend-mode: multiply;
}

.skills-display {
    width: 75%;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill-progress {
    width: 11rem;
    height: 2.2rem;
    background-color: lightgrey;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 25px;
    overflow: hidden;
}

.skill-progress > div {
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}

.skill-name span {
    color: white;
    font-size: 1rem;
    margin-left: 10px;
    vertical-align: middle;
}

#my-image img{
	position:absolute;
	display: inline-block;

	border-radius: 50%;
	margin-top: -13vh;
	margin-bottom: 20px;
}

#my-image{
	margin-right: 15%;
}
#my-image img:hover{
	box-shadow: 0px 0px 8px 6px rgba(230, 196, 196, 0.3);
	transform: scale(1.1);
	transition: transform:0.3s;
	}
/*---About section---*/
#about{
	background: linear-gradient(to bottom, rgba(12,12,14,255) 0%, rgba(12,12,14,255) 40%, rgba(255, 0, 0, 0)60%, rgba(12,12,14,255) 100%), 
	url('https://images.pexels.com/photos/983200/pexels-photo-983200.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
}

#about #about-p-tag{
	display:inline-block;
	margin-top: 10vh;
	width:70%;
	text-align: left;
	font-family: roboto;
	color: antiquewhite;
	letter-spacing: 0.8px;
	word-spacing: 1px;
	line-height: 1.4;
}

#about #about-p-tag p:hover{
	color: white;
	transform: scale(1.1);
	transition: color:0.3s, transform 0.3s;
	}

/*---Certification---*/
.certification-container{
	width:70%;
}

.certification-container h4{
	color: whitesmoke;
}

.certification-container .i-certificate{
	height:100px;
	width: 100px;
	background-size: contain;
	position: relative;
	margin-left: 30px;
	border-radius: 10%;
	opacity: 0.5;
}

.certification-container .i-certificate:hover{
	transform:scale(1.1);
	box-shadow: 0px 0px 8px 6px rgba(230, 196, 196, 0.3);
}

.certification-box{
	padding: 10px;
	margin: 10px;
	width: auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	border: 0px solid white;
	align-items: flex-start;
	border-radius: 18px 70px 70px 18px;
}

.certification-box:hover{
	background-color:darkblue;
}
/*---Experience---*/

#experience{
	background-color: black;
}
#experience h3{
	color: antiquewhite;
}
.timeline {
    position: relative;
    width: 75%;
}

.timeline-box {
    padding: 5px;
    width: 40%;
    min-height: 150px;
    position: relative;
    left: 5%;
    text-align: right;
}

.timeline-box::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: lightgrey;
    top: 25%;
    border-radius: 50%;
    z-index: 1;
}

.timeline-box:nth-child(2n) {
    left: 53%;
}

.timeline-box:nth-child(2n+1)::after {
    right: -11.8%;
}

.timeline-box:nth-child(2n)::after {
    left: -9%;
}

.timeline-container {
    padding: 8px;
}

.timeline-logo {
    position: absolute;
    width: 50px;
    overflow: hidden;
}

.timeline-logo > img {
    width: 100%;
}

#timeline-divider {
    position: absolute;
    width: 0;
    top: 10%;
    left: 50%;
    border: 1px dashed #0096fa6b;
    height: 66%;
    color: #433E3F;
}

#timeline-divider .timeline-traveller {
    position: sticky;
    top: 135px;
    z-index: 2;
}

#timeline-divider i {
    transform: rotate(90deg);
    margin-top: -35px;
    display: block;
    color: #2857a4;
}
/*---Media query---*/

@media only screen and (max-width: 600px) {
    
    .timeline-box {
        width: 100%;
        left: 10% !important;
    }

    .bars {
        display: block;
    }
    
    
    .nav-menu {
        display: none;
    } 

    #my-image{
    	width: 25%;
    	height: 30%;
    }
}
@media screen and (max-width: 600px){
	#timeline-divider{
		left: 4%;
		top:10%;
	}

	.timeline-box{
		left: 12% !important;
		width:80%;
	}
	.timeline-box::after{
		left: -12% !important;
	}

	html{
		font-size: 15px;
	}
	#contact-form {
        margin-left: 0%;
    }

    #contact-container {
        flex-wrap: wrap;
    }

    #my-details-container {
        width: 80%;
        margin: 10%;
        margin-left: 25% !important;
    }

    #contact-form-container {
        width: 80%;
        margin: 10%;
    }



	/* .timeline-box:nth-child(2n+1)::after {
		left:-12%;
	}
	.timeline-box:nth-child(2n)::after {
		left:-12%;
	}
	you can skip the below rule by adding important to above left inside
	timline-box which will give precedence to this
	.timeline-box:nth-child(2n) {
    left: 12%;
    }
    */

}

.experience-designation {
    font-size: 1.4rem;
}

.experience-company-name {
    margin: 5px 0 0;
    color: whitesmoke;
    font-weight: 400;
    font-size: 1.2rem;
}

.experience-duration {
    color: #9e9b9b;
    font-weight: 100;
    color: lightslategrey;
    font-size: 1rem;
}

.experience-description {
    font-size: 14px;
    padding: 2px;
    color: grey;
    line-height: 20px;
}

.text-align-justify {
    text-align: justify;
}

/*--- Education ---*/
#education{
	background-color: black;
}
#education h3{
	color: antiquewhite;
}

/*---Portfolio---*/

#portfolio{
	background-color: black;
}

#portfolio-container{
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	padding: 0 50px;
	margin-bottom: 20px;
	justify-content: space-around;
}

.portfolio-image-container{
	max-width: 300px;
	margin: 20px;
    background-size: cover;
    background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

.portfolio-image-container img {
    width: 100%;
    height: 100%;
}

.portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

hr{
	border: none;
	height: 2px;
	background-color: black;
	margin: 20px 0;
}

/* contact section */

#contact {
    background-color: #0abcf9;
    background-image: linear-gradient(0deg, #2857a4 0%, black 74%);
    color: white;
    padding-bottom: 40px;
}
#contact-form-container {
    width: 50%;
}

#contact h1,
#contact h1 span {
    color: #0061ff;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: #0061ff;
    font-weight: 550;
    font-size: 1.2rem;
}



#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}

.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}

#my-details-container hr{
	padding:opx;
	background-color: #0061ff;
}

#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid #0061ff;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid #0061ff;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: #0061ff;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: black;
    color: white;
}

#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 0px 10px;
    padding: 10px 14px 20px 10px;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.mb75px {
    margin-bottom: 75px;
}

.text-highlight {
    color: #2857a4;
    font-weight: 600;

}
/*p::first-letter{
	font-size: 2rem;
	font-weight: bold;
	text-transform: capitalize;
}*/

/*---Media Query Sample---*/

/*@media screen and (min-width: 600px){
	body{
		width: 100%;
	}
}

@media screen and (min-width: 900px){
	body{
		width: 80%;
	}
}

@media screen and (min-width: 1000px){
	body{
		width: 60%;
	}
}
*/
/* setting background-color */

/* Common Text Align Classes */

.text-right{
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

/* Common Margin Classes */

.m0 {
    margin: 0;
}

.mb75px {
    margin-bottom: 75px;
}

.mb50px {
    margin-bottom: 50px;
}

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ec4d1c;
}

.mb-teal {
    background-color: #0b8176;
}

.mb-light-purple {
    background-color: #93738c;
}



/*Percentage Classes */

.eighty-five-percent {
    height: inherit;
    width: 90%;
}

.eighty-percent {
    height: inherit;
    width: 85%;
}

.fifty-percent {
    height: inherit;
    width: 50%;
}
